[submodule "manager"]
	path = manager
	url = https://github.com/DigitalNZ/supplejack_manager.git
[submodule "worker"]
	path = worker
	url = https://github.com/DigitalNZsupplejack_worker.git
[submodule "api"]
	path = api
	url = https://github.com/DigitalNZ/supplejack_api_app.git
[submodule "solr"]
	path = solr
	url = https://github.com/DigitalNZ/supplejack_solr.git

/
